<p id="notice"><%= notice %></p>

  <h2><u><%= link_to @task.project.title, @task.project %> &lt <%= @task.title%></u></h2>
    <% if user_signed_in? %>
    <% if current_user.admin? || (current_user == @task.project.user) %>

<%= link_to 'Edit', edit_task_path(@task, project_id: @task.project_id) %> |
<%= link_to 'Delete', edit_task_path(@task) %> |
<%= link_to 'Back', @task.project %>
<%end%>
<%end%>


<br><br>
<strong> Due Date :</strong> <%= @task.deadline.to_date %>
<div class= "row" >



	<div class="small-3 columns">
   

    
    <br>
    <p><h2><em><%= @task.assignments.count %> </em></h2>
   <h6><%= link_to "Collaborators", '#'%></h6>
    </p>
   
     <p><h2><em><%= @task.target_number_of_participants %></em></h2>
      <h6 class="subheader"> Target </h6></p>
   
  
	</div>

    <div class= "small-3 columns">
      <br>
    <p><h2><em>$<%= @task.current_fund %></em></h2>
         <h6 class="subheader">Raised</h6></p>

         <p>
     <h2><em>$<%= @task.budget %></em></h2>
           <h6 class="subheader">Target</h6></p>
    






    </div>


    <div class="small-6 columns" ><br><br>

      <%= link_to "Do", new_do_request_path(task_id: @task.id,free: false), class:'button radius' %>
       <%= link_to "Do For Free", new_do_request_path(task_id: @task.id, free: true), class:'button radius' %>
        <%= link_to "Fund", new_donation_path(task_id: @task.id), class:'button radius success' %><br><br>

           <div id="myProgress">
       <div id="myBar"></div>
       <div id="label"><%= @task.current_fund/@task.budget %>% funded </div>
       </div>
        
        </div>
  </div>






  <br>
	


<p>
<h4 class="subheader"><u>Task Description:</u></h4>
  <%= @task.description %>
</p><br>


<p>
  <h4 class="subheader"><u>Condition of execution:</u></h5>
  <%= @task.condition_of_execution %>
</p><br>

<% if user_signed_in? && (current_user == @task.project.user || current_user.admin?) %>
<div class="invitations">
<%= form_for(@assignment) do |f| %>
  <div class="form-group">
    <%= label_tag 'user_id', 'Assign task to a Freelancer' %>
    <%= f.select :user_id,
  User.all.map { |u| [u.name, u.id] },
               { include_blank: true },
               { class: 'chosen-select' }
%>
    <%= f.hidden_field :task_id, value: @task.id %>

  </div>

  <%= submit_tag 'Assign', class: 'button radius tiny' %>
<% end %>
<% end %>

<br>
</div>

<hr>

<% if user_signed_in? %>
<%= form_for  [@task.project, @task, @task.task_comments.build] do |f| %>
 
  <p>
    <%= f.label :body, "Write your comment" %><br/>
    <%= f.text_area :body, :class => "tinymce" %>
  </p>
   <%= f.hidden_field :task_id, value: @task.id %>
   <%= f.hidden_field :user_id, value: current_user.id %>

  <p>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </p>
<% end %>
<% end %>

<br>




   
   <% @comments.each do |comment| %>
     

    <span class="comment"><%= comment.body %></span>
     <br/>

     <h4><small><% if comment.user.picture? %><%= link_to (image_tag comment.user.picture.url, :size => "30x30"), comment.user  %>
      <%else%>
      <%= gravatar_for_user(comment.user) %>
        
        <%end%>
     
    <strong><%=time_ago_in_words(comment.created_at) if !comment.created_at.nil?%> ago</strong></small>
     </em></strong></small></h4>
    </li>
    <br>
    <br>
    <%end%>
    






