<td>
	<% if user.picture.url %>
	<%=link_to (image_tag user.picture.url, size: "100x100"), user %>

    <%else%>

    <%= link_to gravatar_for(user), user %>
    <%end%>

	<br>
  <center><%= link_to user.name, user %></center>
</td>


<td><%= user.city %></td>

<td><%= user.country %></td>


<td><%= user.role %></td>




<% if current_user.admin? %>
<td>
	
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
</td>
 <% end %>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
<%end%>