
<%= simple_form_for(@project, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

   <%= render 'shared/error_messages', object: f.object %>

  <div class="form-inputs">
    <% if !current_user.admin? && !current_user.manager? %>
    <h5 class="subheader"><center> Describe yourself and add your contact info</center></h5>
    <%= f.text_area :request_description, :rows => 20, :cols => 20, class: 'form-control' %>
    <%end%>
    <br>
    <h4 class="subheader"><center>Your Project</center></h4>

    <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'%>
    </div>

    <div class="form-group">
    <%= f.label :short_description, "Short description for Project" %>
    <%= f.text_field :short_description %>
</div>
    <div class="form-group">
    <%= f.label :description, "Overview" %>
    <%= f.text_area :description, :class=>'tinymce', :rows => 20, :cols => 60 %>
</div>
<div class="form-group">
    <%= f.input :country%>
</div>

<div>
    <%= f.label :expires_at %>
    <%= f.datetime_field :expires_at, :ampm => true %>
</div>

   <h4 class="subheader"><center>Your institution</center></h4>
<div class="form-group">
    <%= f.label :institution_location, "Insitution City" %>
    <%= f.text_field :institution_location, placeholder: "City" %>
</div>

<div class="form-group">
    <%= f.label :institution_country, "Institution Country" %>
    <%= f.text_field :institution_country %>
</div>


<div class="form-group">
    <%= f.label :institution_name, "Institution Name" %>
    <%= f.text_field :institution_name %>
</div>




<div class="form-group">
    <%= f.label :institution_description %>
    <%= f.text_area :institution_description, :rows => 10, :cols => 30%>
</div>

<div class="form-group">
    <%= f.label :institution_logo %>
    <%= f.file_field :institution_logo%>
</div>




  

    Upload Project Picture:<%= f.file_field :picture %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "button tiny radius" %>
  </div>
<% end %>
