<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wiki.title %>
</p>

<p>
  <strong>Related Tasks:</strong>
  <%= @wiki.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wiki.description %>
</p>

<p>
  <strong>Pictureone:</strong>
  <%= @wiki.pictureone %>
</p>

<p>
  <strong>String:</strong>
  <%= @wiki.string %>
</p>

<p>
  <strong>Picturetwo:</strong>
  <%= @wiki.picturetwo %>
</p>

<p>
  <strong>Picturethree:</strong>
  <%= @wiki.picturethree %>
</p>

<p>
  <strong>Picturefour:</strong>
  <%= @wiki.picturefour %>
</p>

<p>
  <strong>Picturefive:</strong>
  <%= @wiki.picturefive %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
