<div class="project-wrapper">
  <div class="project-showcase">
    <div class="picture-wrapper">
        <% if project && project.picture? %>
          <a class="image-with-title" href="<%= project_path(project)%>" style="background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.25) 20%, transparent 50%, transparent 80%, rgba(0, 0, 0, 0.5)), url(<%= project.picture.url %>) no-repeat center center">
        <% else %>
          <a class="image-with-title" href="<%= project_path(project)%>">
        <% end %>
          <h4 class="project-title"><%= project.title %></h4>
          <span class="project-country"><%= project.country %></span>
        </a>
    </div>

   <div class="project-info">
      <p><%= truncate(project.short_description, :length => 175, :omission => '...') %></p>

      <% if project.tasks.count > 0 %>
        <% task = project.tasks.first %>
        <div class="tasks hide-mobile">
          <p class="example-task">Example task <span>(<%= project.tasks.count %> total)</span></p>
          <div class="task">
            <p class="task-description"><%= truncate(task.description, :length => 120, :omission => '...') %></p>
            <div class="progress-bar">
              <div class="current-progress" style="width: <%= 100 * (task.current_fund/task.budget) %>%"></div>
            </div>
            <span class="left">
              <strong>$<%= task.current_fund.to_i %></strong> funded
            </span>
            <span class="right">
              <strong><%= (100 * (task.current_fund/task.budget)).to_i %></strong>% of goal
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

